@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&display=swap');

.likes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.like-button {
    padding: 10px;
    background-color: #354faa;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.like-button:hover {
    background-color: grey;
}

.unfollowBtn {
    padding: 10px;
    background-color: #354faa;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.unfollowBtn:hover {
    background-color: grey;
}

.post-content {
    font-family: 'Libre Franklin';
    font-weight: 400;
}