.like-button {
    padding: 10px;
    background-color: #354faa;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.like-button:hover {
    background-color: grey;
}

.unfollowBtn {
    padding: 10px;
    background-color: #354faa;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.unfollowBtn:hover {
    background-color: grey;
}